* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'MyFont'; /* 自定义字体名称 */
    src: url('https://cdn.jsdelivr.net/gh/nanzhi63/selfpage@main/font/LXGWWenKaiLite-Regular.ttf') format('woff2'); /* 引用字体文件路径 */
}

body {
    font-family: 'MyFont', sans-serif; /* 设置字体为全局默认 */
    width: 100vw;
    min-width: 100vh;
    overflow-x: hidden;
}

#background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url(https://bu.dusays.com/2023/11/18/65586d1d40056.jpg) center/cover fixed;
    z-index: -2; 
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: darken;
}

.main {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    transform-origin: center center; 
    transition: padding 0.3s ease;
}

.intro {
    margin-top: 200px;
    width: 100%;
    height: 200px;  
    justify-content: center;
    display: flex;
    position: relative;
}

.intro-avatar {
    width: 200px;
    height: 200px;
    margin-right: 48px;
    border-radius: 50%;
    overflow: hidden;
    flex: 0 0 auto;    /* 防止头像被压缩 */
    transition: transform 0.3s ease;
    box-shadow: 0 0 15px 5px lightblue; /* 外发光效果 */
}

.intro-avatar:hover {
    transform: scale(1.1);
}

.avatar {
    width: 100%;
    height: 100%;
}

.intro-info {
    display: flex;
    flex-direction: column;  /* 设置为纵向排列 */
    justify-content: center;  /* 垂直方向居中 */
}

.Easter-egg {
    position: absolute;
    top: -100px;
    margin: auto;
    height: 2rem;
    width: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.8); 
    backdrop-filter: blur(5px); 
    border-radius: 15px; 
    color: #000000;
    overflow: hidden; 
    transition: all 0.5s ease; 
}

.Easter-egg p {
    font-size: 1rem;
    opacity: 0; /* 初始文字隐藏 */
    transition: opacity 0.5s ease; /* 平滑显示文字 */
}

.intro-avatar:hover ~ .Easter-egg {
    width: 18rem; 
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.8); /* 增加发光效果 */
}

.intro-avatar:hover ~ .Easter-egg p {
    opacity: 1; /* 显示文字 */
}

.hi {
    font-size: 3rem;
    color: #ffffff;
}

.im {
    font-size: 2rem;
    color: #ffffff;
}

.name {
    font-size: 2rem;                      /* 字体大小，按需求调整 */
    position: relative;                   /* 设置相对定位以便创建伪元素 */
    display: inline-block;                /* 让 span 成为块级元素，支持定位 */
    color: #ffffff;
}

.name::after {
    content: '';                         /* 创建伪元素 */
    position: absolute;                 
    top: 0;                             
    left: 0;                             
    right: 0;                            
    bottom: 0;                           
    background-color: rgba(246, 175, 185, 0.5); /* 背景色，给一个淡粉色的背景 */
    z-index: -1;                         /* 将伪元素置于文本后 */
    border-radius: 8px;                  /* 圆角效果 */
    transition: background-color 0.3s ease; /* 背景色过渡 */
}

/* 鼠标悬浮时背景色变化 */
.name:hover::after{
    background-color: rgba(244, 161, 174, 0.8); /* 鼠标悬浮时背景色更深 */
}

.typing-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-family: 'MyFont', sans-serif;
}

.typing {
    white-space: nowrap;
    overflow: hidden;
    color: #ffffff;
}

.typing::before {
    content: '“'; 
    font-size: 1rem;
    margin-right: 8px;
}

.typing::after {
    content: '丨”'; 
    font-size: 1rem;
    margin-left: 8px;
}

/* 社交图标 */
.social-icon {
    width: 100%;
    height: 2.2rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social-icon svg {
    width: 2.2rem;
    height: 2.2rem;
    transform: scale(0.5)
}

.social-icon div {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    overflow: hidden;
}


.qq {
    background-color: rgb(55, 163, 240);
}

.bilibili {
    background-color: #FB7299;
}

.email {
    background-color: #d44638;
}

.github {
    background-color: #181717;
}

.x {
    background-color: #242e36;
}

.sites {
    margin-top: 6rem;
}

.sites-items {
    height: 3rem;
    display: flex;
}

.sites-square {
    height: 100%;
    width: 9rem;
    border-radius: 16px;    
    background-color: #254578;
    overflow: hidden;
    display: flex;
}

.sites-icon {
    height: 100%;
    width: 3rem;
    display: flex;
    border-radius: 16px;  
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color:  #182d4e;
}

.sites-icon svg {
    width: 100%;
    height: 100%;
    transform: scale(0.45)
}


.site-name {
    height: 100%;
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-name span{
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffff;
}

.card {
    width: 100%;
    display: flex;
    gap: 6%;
    justify-content: center;
}

/* 毛玻璃卡片样式 */
.card1 {
    display: flex;
    align-items: center;
    gap: 15px; /* 图片和文字之间的间隔 */
    margin-top: 1rem;
    padding: 15px 20px;
    width: 40%;
    height: 100%;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2); /* 半透明背景 */
    backdrop-filter: blur(10px); /* 毛玻璃效果 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 轻微阴影 */
    color: white;
    box-sizing: border-box;
    cursor: pointer; /* 鼠标悬停时变小手 */
    transition: all 0.3s;
}

.card1:hover {
    transform: translateY(-8px) scale(1.01,1.01);
}

/* 图片样式 */
.card1 img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.card svg {
    position: absolute;
    bottom: 10px;
    left: 50px;
    width: 1.2rem;
    background-color: #fff;
    padding: 8px;
    border-radius: 40%;
    transform: scale(0.6);
}
/* 文字容器 */
.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 标题样式 */
.title {
    font-size: 1rem;
    color: #ffffff;
}

/* 副标题样式 */
.subtitle {
    font-size: 14px;
    margin: 5px 0 0 0;
    color: #e0e0e0;
}


.videos , .articles {
    margin-top: 2rem;
}

.video-square {
    background-color: #FB7299; 
}

.video-icon {
    background-color: #ea4876;
}

.detail {
    height: 3rem;
    width: 4.8rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FB7299;
    border-radius: 16px;
    margin-left: auto;
    overflow: hidden;
}

.detail a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 0.5rem;
}

.detail svg {
    height: 1.2rem;
    width: 1.2rem;
}

.more {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
}

.detail:hover .more{
    display: none;
}

.works {
    width: 100%;
    display: flex;
    gap: 1rem;
    overflow-x: auto; /* 横向滚动条 */
    white-space: nowrap; /* 防止内容换行 */
    padding-bottom: 10px;
}

.works::-webkit-scrollbar {
    height: 12px; /* 滚动条高度 */
}

.works::-webkit-scrollbar-thumb {
    background-color: #42c7d8; /* 滚动条颜色 */
    border-radius: 10px; /* 圆角 */
}

.works::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.3); 
    border-radius: 10px;
}

.works1 {
    position: relative;
    width: 256px; 
    height: 144px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 1rem;
    cursor: pointer; /* 鼠标悬停时变小手 */
    flex: 0 0 auto;
    
}

.works1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease; /* 平滑放大效果 */
}

.works1:hover img {
    transform: scale(1.1); /* 放大10% */
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 1rem;
    color: white;
    background: rgba(0, 0, 0, 0.4); /* 半透明背景 */
    backdrop-filter: blur(10px); /* 添加毛玻璃模糊效果 */
    -webkit-backdrop-filter: blur(10px); /* 兼容 Safari */
    padding: 10px 10px 10px 1rem;
    box-sizing: border-box;
    white-space: nowrap; 
    transition: all 0.5s ease
}

.works1 .caption:hover {
    color: #63c5da; 
    text-shadow: 0 2px 10px rgba(99, 197, 218, 0.5); /* 添加淡蓝光晕 */
}

.tips {
    font-size: 0.8rem;
    font-family: 'Arial', sans-serif;
    position: absolute;
    top: 6px;
    right: 6px;
    background-color: #FB7299;
    padding: 4px;
    color: #ffffff;
}

.article-square ,.articles .detail {
    background-color: #10a52e; 
}

.article-icon {
    background-color: #0d8425;
}

.posts {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.first {
    margin-top: 1rem;
}

.posts1 {
    height: 4rem;
    display: flex;
    border: 1.5px solid #cccccc;
    padding: 0 1.5rem;
    align-items: center;
    border-radius: 15px;
    gap: 3rem;
    justify-content: flex-start;
    cursor: pointer; 
    transition: all 0.3s ease;
    backdrop-filter: blur(10px); /* 毛玻璃效果 */
    background: rgba(255, 255, 255, 0.2); /* 半透明背景 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 轻微阴影 */
    color: #ffffff;
}

.posts1:hover {
    background-color: #e0e0e0;
    color: #000000;
}

.year {
    margin-right: -2rem;
}

.month-mobile {
    display: none;
}
.arrow {
    height: 1.2rem;
    width: 1.2rem;
    overflow: hidden;
    margin-left: auto;
}

.anime-square , .animes .detail{
    background-color: #8c2606; 
}

.anime-icon {
    background-color: #af2f08;
}



.anime {
    width: 100%;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 10px;
}

.anime::-webkit-scrollbar {
    height: 12px;
}

.anime::-webkit-scrollbar-thumb {
    background-color: #42c7d8;
    border-radius: 10px;
}

.anime::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.anime1 {
    position: relative;
    width: 160px;
    height: 240px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 1rem;
    cursor: pointer;
    flex: 0 0 auto;
}
.anime1 .caption {
    font-size: 0.8rem;
    text-align: center;
    padding: 10px 0;
}

.anime1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.anime1:hover img {
    transform: scale(1.1);
}

.end {
    position: relative;
    bottom: 1rem;
    box-sizing: border-box;
    margin: auto;
    margin-top: 88px;
    height: 2rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3); 
    backdrop-filter: blur(5px); 
    border-radius: 15px;
    color: #ffffff;
}

.end a {
    color: #ffffff;
    text-decoration: none;
}

.end a:hover {
    color: #FB7299;
}

/* 背景模态框 */
.modal {
    display: none; /* 默认隐藏 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* 半透明黑色背景 */
    backdrop-filter: blur(5px); /* 背景模糊效果 */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* 弹窗内容 */
.modal-content {
    position: relative;
    background: white;
    border-radius: 15px; 
    padding: 20px;
    width: 300px;
    max-width: 80%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* 卡片阴影效果 */
    text-align: center;
    animation: fadeIn 0.3s ease; 
}

/* 关闭按钮 */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

/* 淡入动画 */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

#snow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;  /* 确保雪花不会影响页面交互 */
    z-index: -1;  
}


#busuanzi_value_site_uv {
    background-color: #FFB6C1;
    padding: 0.2rem 0.5rem; 
    margin: 0 0.2rem;
    border-radius: 10px; 
    font-weight: bold; 
    display: inline-block;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

